:root {
    --primary-color: #484569;
    --secondary-color: #676394;
    --terciary-color: #2f2e57;
}


.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #ff8c42, #fcd283);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.weather img {
    margin-top: -9.2rem;
}


.weather-app{
    width: 35rem;
    height: 65rem;
    background-image: linear-gradient(to top, #ff8c42, #fcd283);
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-shadow: -3rem 1rem 6rem rgba(0,0,0,0.1);
    position: absolute;
}

.search {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.search-top {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.search-top i {
    font-size: 2rem;
    color: #2f22e57;
}

.search-top div {
    font-size: 1.6rem;
    color: var(--primary-color);
    letter-spacing: 0.1rem;
}

.search-bar {
    position: relative;
}

.search-bar input {
    width: 25rem;
    height: 3.5rem;
    background-color: transparent;
    border: 0.2rem solid var(--secondary-color);
    border-radius: 3rem;
    outline: none;
    padding: 1rem 3rem 1rem 1rem;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.search-bar input::placeholder {
    font-size: 1.2rem;
    color: var(--secondary-color);
    letters-spacing: 0.1rem;
}

.search-bar input:focus::placeholder {
    color: transparent;
}

.search-bar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--tertiary-color);
    cursor: pointer;
}

.weather-type {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--primary-color);
}

.temp{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 9rem;
    background-image: linear-gradient(to right, #2f2e57, #605d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: .5rem .5rem 1rem rgba(0,0,0,0.3);
}

.weather-date{
    position: absolute;
    bottom: 22%;
    font-size: 1.6rem;
    color: var(--primary-color)
}

.weather-data {
    width: 80%;
    position: absolute;
    bottom: 2rem;
    display: flex;
    column-gap: 2rem;
    padding: 0 2rem;
}

.weather-data > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    background-color: rgba(255,255,255,0.2);
    padding: 1rem;
    border-radius: 1rem;
}

.data-name {
    font-size: 1.6rem;
    color: #605d80;
}

.weather-data i {
    font-size: 2rem;
    color: #fff;
    text-shadow: -.3rem .3rem .5rem rgba(0,0,0,0.1);
}

.data {
    font-size: 2rem;
    color: var(--terciary-color);
}